h1,p{
    text-align: center;
}
img{
    margin-left: 230px;
    width: 200px;
    height: 200px;
}
a{
    margin-left: 50px;
    position: absolute;
    margin-top: 9%;
}
#inicio{
position: fixed;
margin-top: 0;
right: 0;
}