h1,p{ /* textos de descripción */
    text-align: center;
}
img{ /* imagenes de gatos*/
    margin-left: 230px;
    width: 200px;
    height: 200px;
}
a{ /* enlace de descripcion de gatos */
    margin-left: 50px;
    position: absolute;
    margin-top: 9%;
}
#inicio{ /* enlace de volver a pagina principal */
position: fixed;
margin-top: 0;
right: 0;
}